<?php
/**
 * @var \{{ author_pascal }}\{{ plugin_pascal }}\Controllers\{{ controller_pascal }} $this
 */
?>
<ul>
    <li><a href="<?= $this->actionUrl('/') ?>">{{ controller_pascal }}</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
